<div class="container mt-5">
  <h1 class="display-4">Welcome to the Book Library!</h1>
  <p class="lead">Explore our collection of books. You can sort, filter, and search to find exactly what you're looking for.</p>
  <p class="lead">
    <a href="<%= books_path %>" class="btn btn-primary btn-lg">View our collection of books</a>
  </p>
</div>
